services:
  - type: web
    name: guild-manager-backend
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        fromDatabase:
          name: guilds-db # Note: If using Supabase, replacing this with a direct value in the UI is easier
          property: connectionString
      - fromGroup: guild-manager-secrets
